<div class="container">
  <h2>Register Student</h2>
  <form #f="ngForm" novalidate>

    <div class="form-group">
      <label htmlFor="name">Name *</label>
      <input type="name" class="form-control" id="name" aria-describedby="name" placeholder="Enter your name">
    </div>

    <div class="form-group">
      <label htmlFor="DOB">Date Of Birth *</label>
      <input type="DOB" class="form-control" id="DOB" placeholder="Enter your Date of Birth">
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select id="gender" class="form-control">

        <!-- This value must come from th DB  -->
        <option selected>Choose...</option>
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>

    <div class="form-group">
      <label htmlFor="grade">Grade</label>
      <input type="grade" class="form-control" id="grade" placeholder="Enter your grade">
    </div>

    <div class="form-group">
      <label htmlFor="schoolCode">School Code</label>
      <input type="schoolCode" class="form-control" id="schoolCode" placeholder="Enter your School code">
    </div>

    <div class="form-group">
      <label htmlFor="schoolName">School Name</label>
      <input type="schoolName" class="form-control" id="schoolName" placeholder="Enter your School Name">
    </div>

    <div class="form-group">
      <!-- Disabling the register button if the form is invalid  -->
      <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid" (click)="onSubmit()">Register</button>
      <a  class="btn btn-primary" routerLink="/studentList" routerLinkActive="active">Students List</a>
    </div>

  </form>
</div>
